
body {
    height: 100vh;
}


.friend {
}

.wonder {
    font-size:3.5em;
}

.tagline {
    font-size:1em;
}

.bottomRow {
    height:78%;
    margin-bottom: 1px;
}

.formRow {
    margin-bottom:.1rem;
}

.divider {
    margin-bottom: 0px;
}

.topRow {
    height: 17%;
    margin-bottom: 1px;
}

.sideBar {
    height:100%;
    overflow-y: scroll;
    margin-top: 0px;
}

.hack1, .hack2, .hack3, .hack4 {
    color:white;
    padding:5px 3px 5px 3px !important;
    cursor:default;
}

.hackbutton1, .hackbutton2, .hackbutton3, .hackbutton4 {
    background-color: white !important;
    cursor:pointer;
}

.hackbutton1:hover, .hackbutton2:hover, .hackbutton3:hover, .hackbutton4:hover {
    background-color: #d3d3d3;
}


.hack1 {
    background-color: #ff6961;
}

.hackbutton1 {
    color:#ff6961 !important;
}


.hack2 {
    background-color: #77dd77;
}

.hackbutton2 {
    color:#77dd77 !important;
}


.hack3 {
    background-color: #7777dd;
}

.hackbutton3 {
    color:#7777dd !important;
}


.hack4 {
    background-color: #77dd77;
}

.hackbutton4 {
    color:#77dd77 !important;
}


.edit {
    cursor:pointer;
}

.editbutton {
    height:.5em;
}

ul::-webkit-scrollbar {
    width: 1em !important;
}

ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
}

ul::-webkit-scrollbar-thumb {
    background-color: darkgrey !important;
    outline: 1px solid slategrey !important;
}
